<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<html>
<body>

    <link href="~/Content/signin/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/signin/css/bootstrap.css"></script>

    <div class="main">
        <!---start-header---->
        <div class="top-header">
            <div class="top-nav">
                <ul>
                    <li><a href="~/Home/index">Home</a></li>
                    
                    <li><a href="~/Home/newrecipes">New Recipes</a></li>
                    <li ><a href="~/Home/chef">Chefs</a></li>
                    <li><a href="~/Home/news">News</a></li>
                    <li class="active"><a href="~/Home/contact">Contact</a></li>
                    <li><a href="~/Home/about">Top 10 Recipes</a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
        </div>
        <!---End-header---->
        <!---start-content----->
        <div class="content">
            <!---start-logo-with-slider----->
            <div class="logo-slider">
                <div class="logo">
                    <a href="index.html"><img src="~/images/logo.png" title="logo" /></a>
                </div>
                <!--start-image-slider---->
                <div class="image-slider">
                    <!-- Slideshow 1 -->
                    <ul class="rslides" id="slider1">
                        <li><img src="~/images/slider1.jpg" alt=""></li>
                        <li><img src="~/images/slider3.jpg" alt=""></li>
                        <li><img src="~/images/slider1.jpg" alt=""></li>
                    </ul>
                    <!-- Slideshow 2 -->
                </div>

                <!---End-header---->
                <!---start-content----->
                <div class="content">
                    <!----start-main-content----->
                    <div class="main-content">
                        <!---start-contact---->
                        <div class="contact">
                            <div class="section group">
                                <div class="col span_1_of_3">
                                    <div class="contact_info">
                                        <h3>Find Us Here</h3>
                                        <div class="map">
                                            <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.039165911417!2d74.29203211456743!3d31.49560725551694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903be2febfb85%3A0x3db3c9d1a2db15aa!2sUniversity+of+The+Punjab!5e0!3m2!1sen!2s!4v1452095650758"></iframe><br><small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.039165911417!2d74.29203211456743!3d31.49560725551694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903be2febfb85%3A0x3db3c9d1a2db15aa!2sUniversity+of+The+Punjab!5e0!3m2!1sen!2s!4v1452095650758" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                                        </div>
                                    </div>
                                    <div class="company_address">
                                        <h3>Company Information :</h3>
                                        <p>Punjab University</p>
                                        <p>Hostel 17</p>
                                        <p>Room 214 , Lahore</p>
                                        <p>Phone:03136549042</p>
                                        <p>Fax: (000) 000 00 00 0</p>
                                        <p>Email: <span>BCSF12M553@pucit.edu.pk</span></p>
                                        <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                                    </div>
                                </div>
                                <div class="col span_2_of_3">
                                    <div class="contact-form">
                                        <h3>Contact Us</h3>
                                        <form method="post" action="contact-post.html">
                                            <div>
                                                <span><label>NAME</label></span>
                                                <span><input name="userName" type="text" class="textbox"></span>
                                            </div>
                                            <div>
                                                <span><label>E-MAIL</label></span>
                                                <span><input name="userEmail" type="text" class="textbox"></span>
                                            </div>
                                            <div>
                                                <span><label>MOBILE</label></span>
                                                <span><input name="userPhone" type="text" class="textbox"></span>
                                            </div>
                                            <div>
                                                <span><label>SUBJECT</label></span>
                                                <span><textarea name="userMsg"> </textarea></span>
                                            </div>
                                            <div>
                                                <span><input type="submit" value="Submit"></span>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <!---End-contact---->
                        </div>
                        <div class="clear"> </div>
                        <!----End-main-content----->
                    </div>
                </div>
            </div>
            
            <!---End-wrap---->
</body>
</html>

