

<html>
<body>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.css"></script>
    <div class="main">
        <!---start-header---->
        <div class="top-header">
            <div class="top-nav">
                <ul>
                    <li><a href="~/Home/desc">DESCRIPTION</a></li>

                    <div class="clear"> </div>
                </ul>
            </div>
        </div>
        <!---End-header---->
        <!---start-content----->
        <!---End-header---->
        <!---start-content----->
        <div class="content">
            <!----start-main-content----->
            <div class="main-content">
                <!---start-contact---->


                <div class="center-content">
                   


                        <!-- 4:3 aspect ratio -->
                        <<div class="embed-responsive embed-responsive-16by9">
                             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l4URrJVXWmI" width="600" height="400"></iframe>
                    </div>

                   
                </div>



                <div class="left-sidebar">
                    <div class="left-sidebar-top">
                        <h3><span></span>Rating</h3>
                        <img src="~/images/rating1.jpg" title="rating1" />
                    </div>


                   





                    <div class="clear"> </div>
                    <div class="left-sidebar-bottom">


                       
                        

                        <h3><span>Fresh</span> Recipes</h3>
                        <a href="~/Home/desc"><img src="~/images/golakabab.jpg" title="image-name" /></a>
                        <a class="heading" href="#">Gola Kabab by Shireen Anwar</a>
                        <p>Beef Noodles Kabab recipe by Shireen Anwar. This delightful Ramadan Recipes recipe of Beef Noodles Kabab can be ready in approximately 30 Minutes ...</p>
                        <a class="button" href="~/Home/desc">Read more</a>
                    </div>
                    <div class="cooking-banner1">
                        <a href="#"><img src="~/images/banner1.png" title="image-name" /></a>
                    </div>
                    <div class="clear"> </div>
                </div>




                <!---End-contact---->
            </div>
            <div class="clear"> </div>
            <!----End-main-content----->
        </div>
    </div>
    </div>

    <!---End-wrap---->
</body>
</html>



